USE [master]
GO
/****** Object:  Database [Bayon.Lucas.2C.TPFinal]    Script Date: 29/11/2021 10:25:39 ******/
CREATE DATABASE [Bayon.Lucas.2C.TPFinal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RegistroContable', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\RegistroContable.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RegistroContable_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\RegistroContable_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bayon.Lucas.2C.TPFinal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bayon.Lucas.2C.TPFinal]
GO
/****** Object:  Table [dbo].[DulcesAngelesCompras]    Script Date: 29/11/2021 10:25:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DulcesAngelesCompras](
	[razonSocialEmisor] [varchar](25) NOT NULL,
	[cuitEmisor] [varchar](12) NOT NULL,
	[sitFiscalEmisor] [varchar](20) NOT NULL,
	[ptoVenta] [varchar](5) NOT NULL,
	[nroComprobante] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[importe] [float] NOT NULL,
	[alicuota] [float] NOT NULL,
	[concepto] [varchar](50) NOT NULL,
	[cuitUsuario] [varchar](12) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DulcesAngelesVentas]    Script Date: 29/11/2021 10:25:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DulcesAngelesVentas](
	[cuitUsuario] [varchar](12) NOT NULL,
	[ptoVenta] [varchar](5) NOT NULL,
	[nroComprobante] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[importe] [float] NOT NULL,
	[alicuota] [float] NOT NULL,
	[razonSocialReceptor] [varchar](25) NOT NULL,
	[cuitReceptor] [varchar](12) NOT NULL,
	[sitFiscalReceptor] [varchar](20) NOT NULL,
	[anulado] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TesterCompras]    Script Date: 29/11/2021 10:25:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TesterCompras](
	[razonSocialEmisor] [varchar](25) NOT NULL,
	[cuitEmisor] [varchar](12) NOT NULL,
	[sitFiscalEmisor] [varchar](20) NOT NULL,
	[ptoVenta] [varchar](5) NOT NULL,
	[nroComprobante] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[importe] [float] NOT NULL,
	[alicuota] [float] NOT NULL,
	[concepto] [varchar](50) NOT NULL,
	[cuitUsuario] [varchar](12) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TesterVentas]    Script Date: 29/11/2021 10:25:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TesterVentas](
	[cuitUsuario] [varchar](12) NOT NULL,
	[ptoVenta] [varchar](5) NOT NULL,
	[nroComprobante] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[importe] [float] NOT NULL,
	[alicuota] [float] NOT NULL,
	[razonSocialReceptor] [varchar](25) NOT NULL,
	[cuitReceptor] [varchar](12) NOT NULL,
	[sitFiscalReceptor] [varchar](20) NOT NULL,
	[anulado] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 29/11/2021 10:25:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[RazonSocial] [varchar](25) NOT NULL,
	[CUIT] [varchar](12) NOT NULL,
	[SituacionFiscal] [varchar](25) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[DulcesAngelesCompras] ([razonSocialEmisor], [cuitEmisor], [sitFiscalEmisor], [ptoVenta], [nroComprobante], [fecha], [importe], [alicuota], [concepto], [cuitUsuario]) VALUES (N'Linktype', N'55212783604', N'1', N'48395', 86181299, CAST(N'2019-02-14T00:00:00.000' AS DateTime), 257311.32, 27, N'1', N'27369852741')
INSERT [dbo].[DulcesAngelesCompras] ([razonSocialEmisor], [cuitEmisor], [sitFiscalEmisor], [ptoVenta], [nroComprobante], [fecha], [importe], [alicuota], [concepto], [cuitUsuario]) VALUES (N'Roomm', N'31599332632', N'2', N'47012', 42244705, CAST(N'2017-09-26T00:00:00.000' AS DateTime), 334153, 10.5, N'3', N'27369852741')
INSERT [dbo].[DulcesAngelesCompras] ([razonSocialEmisor], [cuitEmisor], [sitFiscalEmisor], [ptoVenta], [nroComprobante], [fecha], [importe], [alicuota], [concepto], [cuitUsuario]) VALUES (N'Rhybox', N'44879099175', N'1', N'25036', 67969295, CAST(N'2018-04-10T00:00:00.000' AS DateTime), 39278.43, 10.5, N'2', N'27369852741')
GO
INSERT [dbo].[DulcesAngelesVentas] ([cuitUsuario], [ptoVenta], [nroComprobante], [fecha], [importe], [alicuota], [razonSocialReceptor], [cuitReceptor], [sitFiscalReceptor], [anulado]) VALUES (N'27369852741', N'00099', 1, CAST(N'2019-11-05T00:00:00.000' AS DateTime), 70242.63, 27, N'Rhynoodle', N'01149096231', N'0', 1)
INSERT [dbo].[DulcesAngelesVentas] ([cuitUsuario], [ptoVenta], [nroComprobante], [fecha], [importe], [alicuota], [razonSocialReceptor], [cuitReceptor], [sitFiscalReceptor], [anulado]) VALUES (N'27369852741', N'00099', 2, CAST(N'2019-11-05T00:00:00.000' AS DateTime), 260450, 27, N'Photobean', N'14854393755', N'2', 0)
INSERT [dbo].[DulcesAngelesVentas] ([cuitUsuario], [ptoVenta], [nroComprobante], [fecha], [importe], [alicuota], [razonSocialReceptor], [cuitReceptor], [sitFiscalReceptor], [anulado]) VALUES (N'27369852741', N'00099', 3, CAST(N'2019-11-05T00:00:00.000' AS DateTime), 169064.9, 27, N'Twitternation', N'04703834835', N'2', 1)
GO
INSERT [dbo].[TesterCompras] ([razonSocialEmisor], [cuitEmisor], [sitFiscalEmisor], [ptoVenta], [nroComprobante], [fecha], [importe], [alicuota], [concepto], [cuitUsuario]) VALUES (N'Aldana', N'23987645321', N'2', N'00012', 3213, CAST(N'2021-11-22T17:06:51.667' AS DateTime), 32500, 27, N'2', N'99999999999')
INSERT [dbo].[TesterCompras] ([razonSocialEmisor], [cuitEmisor], [sitFiscalEmisor], [ptoVenta], [nroComprobante], [fecha], [importe], [alicuota], [concepto], [cuitUsuario]) VALUES (N'Aldana', N'23987645321', N'2', N'00012', 3213, CAST(N'2021-11-22T17:12:43.050' AS DateTime), 32500, 27, N'2', N'99999999999')
INSERT [dbo].[TesterCompras] ([razonSocialEmisor], [cuitEmisor], [sitFiscalEmisor], [ptoVenta], [nroComprobante], [fecha], [importe], [alicuota], [concepto], [cuitUsuario]) VALUES (N'Ezkiel', N'99999999999', N'2', N'11212', 5555, CAST(N'2021-11-22T16:24:58.237' AS DateTime), 300, 27, N'2', N'99999999999')
GO
INSERT [dbo].[TesterVentas] ([cuitUsuario], [ptoVenta], [nroComprobante], [fecha], [importe], [alicuota], [razonSocialReceptor], [cuitReceptor], [sitFiscalReceptor], [anulado]) VALUES (N'99999999999', N'00099', 1, CAST(N'2021-11-28T00:00:00.000' AS DateTime), 12500, 21, N'TresHarinasSRL', N'33761349825', N'1', 0)
INSERT [dbo].[TesterVentas] ([cuitUsuario], [ptoVenta], [nroComprobante], [fecha], [importe], [alicuota], [razonSocialReceptor], [cuitReceptor], [sitFiscalReceptor], [anulado]) VALUES (N'99999999999', N'00099', 2, CAST(N'2021-11-28T00:00:00.000' AS DateTime), 12500, 21, N'TresHarinasSRL', N'33761349825', N'1', 0)
GO
INSERT [dbo].[Usuarios] ([RazonSocial], [CUIT], [SituacionFiscal]) VALUES (N'DulcesAngeles', N'27369852741', N'Monotributista')
GO
USE [master]
GO
